[submodule "fuseflow-compiler"]
	path = fuseflow-compiler
	url = https://github.com/lrubens/fuseflow-compiler.git
[submodule "tortilla-visualizer"]
	path = tortilla-visualizer
	url = git@github.com:lrubens/tortilla-visualizer.git
[submodule "comal"]
	path = comal
	url = https://github.com/fuseflow-authors/comal.git
